.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 121px;
  width: 100%;
  margin-top: 60px;
  background: -webkit-linear-gradient(left,rgba(98,94,94,1),rgba(56,56,56,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(98,94,94,1),rgba(56,56,56,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(98,94,94,1),rgba(56,56,56,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(98,94,94,1), rgba(56,56,56,1)); /*Standard*/
}


.banner h1 {
  color: white;
  padding-left: 150px;
  padding-bottom: 10px;
  font-family: calibri light;
  font-size: 60px;
  text-shadow: 4px 4px #4F4F4F;

}

.banner img {
  padding-right: 150px;
}

.container {
  display: flex;
  margin-top: 130px;
  justify-content: center;
}

.box {
  width: 120px;
  height: 122px;
  background-color: black;
  background: -webkit-linear-gradient(left,rgba(98,94,94,1),rgba(99,96,96,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(98,94,94,1),rgba(99,96,96,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(98,94,94,1),rgba(99,96,96,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(98,94,94,1), rgba(99,96,96,1)); /*Standard*/
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-family: calibri light;
  font-size: 22px;
  text-shadow: 2px 2px #4F4F4F;
  text-align: center;

}

.box:hover {
  width: 120px;
  height: 122px;
  background-color: blue;
  background: -webkit-linear-gradient(left,rgba(68,68,68,1),rgba(53,53,53,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(68,68,68,1),rgba(53,53,53,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(68,68,68,1),rgba(53,53,53,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(68,68,68,1), rgba(53,53,53,1)); /*Standard*/
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box p {
  padding-left: 8px;
  padding-right: 8px;
}

.container a {
  text-decoration: none;
}

.ondemand {
  margin-top: 150px;
  display: block;
  text-align: center;

}
